.sticky {
  position: sticky;
  top: 0px;
  z-index: 1;
}
header {
  background-color: #222831;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
  padding: 0 5vw;

  .logo {
    width: 150px;
    cursor: pointer;
  }

  ul {
    display: flex;
    gap: 30px;
    li {
      a {
        color: #eeeeee;
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
      }

      list-style: none;
      cursor: pointer;
      // width: 90px;
      padding: 8px 18px;
      text-align: center;
      transition: 0.8s;
      border-radius: 20px;
      &:hover {
        background-color: rgba(175, 175, 175, 0.336);
        transition: 0.8s;
      }
    }
  }
}
